html {
  font-size: 10px;
  background: url(https://wallpapercave.com/wp/X6neucM.jpg) bottom center ;
  background-size: cover no-repeat;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#logo{
  margin-top: 20px;
  margin-left: 20px;
  height:120px;
  width:200px;
  opacity: 0.75;
}
.keys {
  margin-top: -80px;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid rgb(79, 79, 79);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .5s ease;
  width: 8rem;
  height:10em;
  text-align: center;
  vertical-align: middle;
  line-height: 10em;
  color: black;
  background: white;
  text-shadow: 0 0 .5rem rgb(79, 79, 79);
}

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}
#help{
  margin-top:-135px;
  color: black;
  background: white;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  opacity: 0.75;
}